@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebShop.Models.Cart
@{
    decimal fullPrice = 0;
}

<h1>Корзина - @ViewBag.User.FirstName</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Размер</th>
                <th>Цена</th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.ProductsFromStorage)
            {
                fullPrice += p.Product.Price;
                <tr>
                    <td>@p.Product.Type.Title - @p.Product.Model</td>
                    <td>@p.Size</td>
                    <td>@p.Product.Price</td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Get))
                        {
                            <input type="hidden" name="storageId" value="@p.Id" />
                            <input type="submit" value="Убрать"/>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Полная цена: @fullPrice</h3>

    <button class="btn btn-primary" id="modal-btn" data-toggle="modal" data-target="#Modal">Оформить зака</button>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите оформить заказ?
      </div>
      <div class="modal-footer">
        @using (Html.BeginForm("ConfirmOrder", "Cart", FormMethod.Post))
        {
            <input type="hidden" name="cartId" value="@Model.Id" />
            <input type="hidden" name="fullSum" value="@fullPrice" />
            <input type="submit" value="Оформить заказ" class="btn btn-primary"/>
        }
        <button type="button" id="btnHideModal" class="btn btn-secondary">  
            Нет
        </button>  
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">  
</script> 
 <script type="text/javascript">  
        $(document).ready(function () {  
            $("#modal-btn").click(function () {  
                $("#Modal").modal('show');  
            });  
        });  

        $("#btnHideModal").click(function () {  
                $("#Modal").modal('hide');  
            }); 
 </script>  