@model IEnumerable<WebShop.Models.ViewModels.ProductFromStorageViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Color</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Model</th>
                <th>Desc</th>
                <th>Price</th>
                <th>Size</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model)
            {
                <tr>
                    <td>@p.Product.Id</td>
                    <td>@p.Product.Color.Color</td>
                    <td>@p.Product.Brand.Title</td>
                    <td>@p.Product.Type.Title</td>
                    <td>@p.Product.Model</td>
                    <td>@p.Product.Description</td>
                    <td>@p.Product.Price</td>
                    <td>@p.Size</td>
                    <td>@p.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>
